body {
	background:#fff; 
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	font-size:10pt;
}

a, a:link, a:visited, a:active {
	text-decoration:none;
	color:#2a22d2;
}

a:hover {
	text-decoration:underline;
}

img {
	border:none;
}

.h1_orange {
	font-weight:bold;
	font-size:30px;
	padding-bottom:6px;
	padding-top:14px;
	margin-top:0;
	color:#fdb913;
	line-height:1.25em;
}
.h1_red {
	font-weight:bold;
	font-size:30px;
	padding-bottom:6px;
	padding-top:14px;
	margin-top:0;
	color:#d2232a;
}
.h1_teal {
	font-weight:bold;
	font-size:30px;
	padding-bottom:6px;
	padding-top:14px;
	margin-top:0;
	color:#13a89e;
}
.h3_teal {
	font-weight:bold;
	font-size:12pt;
	padding-bottom:6px;
	padding-top:4px;
	color:#13a89e;
}
.h3_orange {
	font-weight:bold;
	font-size:12pt;
	padding-bottom:6px;
	padding-top:4px;
	margin-top:0;
	color:#fdb913;
}
.h3_green {
	font-weight:bold;
	font-size:12pt;
	padding-bottom:6px;
	padding-top:4px;
	color:#00a79d;
}
.h3_red {
	font-weight:bold;
	font-size:12pt;
	padding-bottom:6px;
	padding-top:4px;
	color:#d2232a;
}
.h4_teal {
	font-weight:bold;
	font-size:10pt;
	padding-bottom:6px;
	padding-top:4px;
	color:#13a89e;
}

#header {
	width:930px;
	height:117px;
	padding:0;
	margin:0 auto;
	position:relative;
	text-align:right;
}

.srlLogo {
	float:left;
	border:none;
	margin-top:0px;
	margin-left:8px;
}

#topsearch {
	width:200px;
	float:right;
	margin-top:42px;
	margin-right:5px;
	padding-right:2px;	
}
#topsearch fieldset {
	border: none;
}

#topsearch input {
	border:#b2b2b2 1px solid;
	background:#fff url('images/searchbg.png') repeat-x;
	height:16px;
	margin:0;
	padding:0;
}
#topsearch .submit {
	vertical-align:bottom;
	height:16px;	
}

#topsearch .lang {
	padding: 6px 0 6px 0;
}

#mainsection {
	width:930px;
	margin:0 auto;
	padding:0;
	height:auto;
	display:block;
	text-align:left;
	position:relative;
}

#sidebar {
	margin:0;
	padding:0;
	width:200px;
	height:auto;
	min-height:450px;
	display:block;
	position:absolute;
	top:0;
	right:0;
	margin-left:8px;
}


#content {
	display:block;
	position:relative;
	margin:0;
	padding: 2px 0 20px 42px;
	width:673px;
	height:auto;
	min-height:350px;
	background-color:#fff;
	line-height:17px;
}

#contenthome {
	display:block;
	position:relative;
	margin:0;
	padding:0;
	width:930px;
	height:auto;
	min-height:350px;
	background-color:#fff;
	line-height:17px;
}


#contentlm {
	display:block;
	position:relative;
	margin:0;
	padding: 2px 20px 20px 20px;
	width:673px;
	height:auto;
	min-height:350px;
	background-color:#fff;
	line-height:17px;
}


#contentnewslistings {
	display:block;
	position:relative;
	margin:0;
	padding: 20px 20px 20px 40px;
	width:653px;
	height:auto;
	min-height:350px;
	background-color:#fff;
	line-height:17px;
}



#contentfooter {
	width:1000px;
	height:35px;
	padding-top:12px;
	padding-left:12px;
	margin-top:8px;
	background-color:#fff;
	display:block;
	position:absolute;
}

.clear {
	clear:both;
}

.copyright {
	float:right;
	position:relative;
	display:block;
	width:auto;
	font-size:7px;
	line-height:42px;
	padding-right:24px;
	padding-bottom:12px;
	color:#808285;
}


.columns2left1 {
	width:300px;
	height:auto;
	margin:0;
	padding:0;
	margin-right:30px;
	float:left;
	position:relative;
	display:block;
}

.columns2left2 {
	width:300px;
	height:auto;
	margin:0;
	padding:0;
	float:left;
	position:relative;
	display:block;
}

.contacttable {
	width:358px;
	display:table;
	margin-top:8px;
	border-right: 2px solid #d1d2d4;	
}
.contactrow {
	display:table-row;
}
.contactleft {
	display:table-cell;
	margin:0;
	padding:0;
	color: #a7a9ac;
	font-weight:bold;
	font-size:10pt;
	width:64px;
	vertical-align:top;
	padding-top:10px;
}
.contactright {
	display:table-cell;
	margin:0;
	padding:0;
	color: #000;
	font-size:10pt;
	width:260px;
	margin-left:60px;
	vertical-align:top;
	padding-bottom:10px;
	border-bottom: 1px solid #d1d2d4;
	margin-right:30px;
	padding-top:10px;
	padding-left:22px;	
}
.contactspacer {
	display:table-cell;
	width:30px;
}
.contactform {
	float:right;
	width:270px;
	margin:0;
	padding:0;
	color: #a7a9ac;
	font-weight:bold;
	font-size:10pt;
	vertical-align:top;
	padding-top:10px;
}
.contactform fieldset {
	border:none;
	margin:0;
	padding:0;
}
.contactform input {
	width:240px;
}
.contactform input.button {
	width:80px;
	float:right;
	margin-right:24px;
}


.gap {
    padding-top: 20px;
}

.newssidedate {
	color:#d2232a;
	font-weight:bold;
	font-size:14px;
	height:50px;
	width:70px;
	padding-top:30px;
	display:block;
	position:absolute;
	margin-top:12px;
}

.newslisting {

}


.newslistingdate {
	color:#d2232a;
	font-weight:bold;
	font-size:9pt;
	height:50px;
	width:40px;
	padding-top:0;
	display:block;
	position:absolute;
}

.newslistingtitle, .newslistingtitle a {
	color:#d2232a;
	font-weight:normal;
	font-size:9pt;
	margin-left:25px;	
	margin-top:12px;
	width:430px;
	text-decoration:none;
	display:block;
	position:relative;
}
.newslistingtitle a:hover {
	text-decoration:underline;
}

.newslistingsummary {
	color:#000;
	font-weight:normal;
	font-size:9pt;
	margin:0;
	padding:0;
	margin-left:50px;	
	width:475px;
}
.newslistingmore {
	padding-right:0;
	height:12px;
	float:right;
	width:475px;
	text-align:right;
}
.newslistingmore img {
	vertical-align:baseline;
	margin-top:3px;
}

.newslistinghr {
	clear:both;
	padding-top:2px;
	padding-bottom:8px;
	border-bottom:1px dotted #d1d2d4;
	clear:both;
}
.newslisting img {
	float:right;
	padding:2px;
	background-color:#fff;
	border:none;
}
.newsarchiveyear {
	float:right;
	padding:2px;
	background-color:#fff;
	border:none;
	font-size:24pt;
	font-weight:bold;
	color: #a7a9ac;
}

#newsarticle {
	margin-top:12px;
	margin-left:70px;
	display:block;
	position:relative;
	padding-left:20px;
	padding-right:30px;
	border-left: 2px solid #d1d2d4;	
	height:auto;
}

#newsarticle img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin:0;
    margin-right:8px;
    margin-top:4px;
    margin-bottom:4px;
    padding: 2px;
}

.newstitle {
	font-weight:bold;
	font-size:16px;
	margin-top:6px;
	width:500px;
}

.newsmonths {
	font-size:10pt;
	color: #0d0d0d;
}
.newsmonths a {
	color: #000;
}
.newsmonths a:hover {
	text-decoration:underline;
	color:#D2232A;
}

.newsarchivemonths {
	font-size:10pt;
	color: #0d0d0d;
	margin-top:1em;
}
.newsarchivemonths a {
	color: #000;
}
.newsarchivemonths a:hover {
	text-decoration:underline;
	color:#D2232A;
}



.newsimgrt {
	float:right;
	margin: 0 0 8px 8px;
}


.eventcalendar {
	display: table;
	width:623px;
	border: 0px solid orange;
	margin-top:1em;
}
.eventcalendarheading {
	font-size: 10px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: #13a89e;
	display: table-row;
}
.eventcalendardaynames {
	width: 85px;
	height: 16px;
	display: table-cell;
	text-align:center;
	vertical-align:bottom;
	margin:0;
	padding:0;
	line-height:16px;
}
.eventcalendarrow {
	font-size: 10px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: #13a89e;
	display: table-row;
}
.eventcalendardays {
	background-color:#f2f2f2;
	color:#000;
	font-weight:normal;
	display: table-cell;
	width:77px;
	height:58px;
	min-height:58px;
	border:2px solid white;
	vertical-align:top;
	padding-left:6px;
	padding-right:1px;
	padding-top:3px;
	padding-bottom:6px;
}
.eventcalendardaysl {
	background-color:#f2f2f2;
	color:#000;
	font-weight:normal;
	display: table-cell;
	width:77px;
	height:58px;
	min-height:58px;
	border:2px solid white;
	vertical-align:top;
	padding-left:6px;
	padding-right:1px;
	padding-top:3px;
	padding-bottom:6px;
	border-left:none;
}
.eventcalendardaysr {
	background-color:#f2f2f2;
	color:#000;
	font-weight:normal;
	display: table-cell;
	width:77px;
	height:58px;
	min-height:58px;
	border:2px solid white;
	vertical-align:top;
	padding-left:6px;
	padding-right:1px;
	padding-top:3px;
	padding-bottom:6px;
	border-right:none;
}
.eventcalendartitle {
	float:right;
	padding:2px;
	background-color:#fff;
	border:none;
	font-size:24pt;
	font-weight:bold;
	color: #a7a9ac;
	margin-right:4px;
	margin-bottom:8px;
}
.eventcalendarsymbol, .eventcalendarsymbol a {
	font-weight:bold;
	font-size:20px;
}
.eventcalendarprev {
	text-align:right;
	float:left;
	margin-right:8px;
}
.eventcalendarnext {
	float:right;
	margin-left:8px;
	text-align:left;
}
.eventcalendarprev, .eventcalendarnext {
	line-height:12px;
	height:20px;
	vertical-align:baseline;
}
.eventcalendarprev a, .eventcalendarnext a {
	font-size:8px;
	color:#13a89e;
	display:inline;
}
.eventcalevent {
	margin-bottom:6px;
}
.eventcalname, .eventcalname a {
	color: #d2232a;
	font-size:12px;
	font-weight:bold;
	line-height:13px;
}
.eventlocation, .eventlocation a {
	color: #000;
	font-size:10px;
	font-weight:normal;
	line-height:12px;
}
.projecticons {
	height:12px;
	padding-right:2px;
	padding-left:2px;
}
.eventiconssm {
	height:12px;
	text-align:right;
}
.eventiconssm img {
	height:10px;
	margin-right:1px;	
}
.eventsideicons {
	padding-bottom:6px;
	text-align:right;
	margin-right:10px;
}

#sidenav {
	width:176px;
	float:right;
	display:block;
	min-height:175px;
	height:auto;
	background-color:#fff;
	padding: 10px 14px 8px 14px;
}

#sidenav ul {
	list-style:none;
	margin:0;
	padding:0;
	line-height:1.75em;
}

#sidenav a {
	text-decoration:none;
	color:#808285;
	font-weight:bold;
}

#sidenav li.active a {
	color: #fdb913;
}

#sidenav a:hover {
	color:#d1d2d4;
}

#sidenav ul ul {
	margin-left:16px;
}
#sidenav ul ul li.active a {
	font-style:italic;
}

#sidenavevents {
	width:190px;
	float:right;
	display:block;
	height:auto;
	background-color:#fff;
	clear:both;
	margin-top:9px;
	padding: 6px 0 8px 14px;	
}
#sidenavcal {
	margin-top:9px;
	padding: 0;	
	width:204px;
	float:right;
	display:block;
	height:auto;
	background-color:#fff;
	clear:both;
}

.sidenaveventsdate {
	font-weight:bold;
	font-size:12px;
	padding-bottom:6px;
	padding-top:4px;
	color:#00a79d;
	width:46px;
	float:left;
}

.sidenaveventstitle, .sidenaveventstitle a {
	font-size:12px;
	padding-top:2px;
	color:#101010;
	width:123px;
	float:left;
	line-height:13px;
}

.sidenaveventsdetails {
	font-size:9px;
	color:#101010;
	width:130px;
	padding-bottom: 18px;
	padding-top:3px;
	margin-bottom:12px;
	clear:both;
	border-bottom:1px solid #d9d9d9;	
}
.sidenaveventsmore, .sidenaveventsmore a {
	clear:both;
	float:right;
	text-align:right;
	font-size:10px;
	width:130px;
	color:#13a89e;
}
#sidenavjoin {
	width:204px;
	float:right;
	display:block;
	min-height:225px;
	height:auto;
	background-color:#fff;
	clear:both;
	margin-top:9px;
}

#mainmenu {
	color: #bcbec0;	
	text-decoration: none;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin:0 auto;
	padding:0;
	display:block;
	position:absolute;
	text-align:right;
	top:80px;
	right:0;
	overflow:hidden;
}
#mainmenu ul {
	margin:0;
	padding:0;
	list-style:none;
	height:20px;
	text-align:right;
}
#mainmenu li {
	float:left;
	padding-left:15px;
	padding-right:15px;
}
#mainmenu ul a, #mainmenu ul a:active, #mainmenu ul a:visited {
	display:block;
	line-height:27px;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	color:#808285;
}

#mainmenu ul a:hover {
	border-top: 4px solid #d1d2d4;
	line-height:19px;
}
#mainmenu li.last {
	padding-right:0;
}
.hoverbubbble {
	position:absolute;
	bottom:0;
	right:0;
}

ul.hoverbubbble {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	margin-right:18px;
	margin-top:11px;
}
ul.hoverbubbble li {
	float:left;
	margin-right:12px;
}
ul.hoverbubbble li a {
	text-decoration:none;
	color:#000;
	position:relative;
}
ul.hoverbubbble li img {
	border:none;
}
ul.hoverbubbble li a:hover {
	color:blue;
}
ul.hoverbubbble li div {
	display:none;
	position:absolute;
	width:154px;	
	padding-left:8px;
	margin-top:-120px;
	margin-left:-62px;
	z-index:100;
}
ul.hoverbubbble li:hover div {
	display:block;
	font-size:11px;
}
ul.hoverbubbble li div p.top {
	background:#fff url('/assets/images/cal/infobubbletop.png') no-repeat right top;
	width:170px;
	height:8px;
	margin:0;
	padding:0;
}

ul.hoverbubbble li div p.mid {
	margin:0;
	padding:0;
	width:154px;	
	padding-left:8px;
	padding-right:8px;	
	padding-bottom:8px;
	background:#fff url('/assets/images/cal/infobubblemid.png') repeat-y right top;
	font-size:10px;
}
ul.hoverbubbble li div p.bot {
	background:#fff url('/assets/images/cal/infobubblebot.png') no-repeat right bottom;
	width:170px;
	height:14px;
	margin:0;
	
}
.researcherblock {
	height:84px;
	padding-top:12px;
	width:320px;
	float:left;
}
.researcher {
	clear:both;
	height:auto;
	padding-top:12px;
	width:320px;
}
.researchername {
	color:#000;
}
.researcherpic {
	background-color:#fff;
	padding:2px;
	border:1px solid #000;
	margin-right:8px;
	float:left;
}

.researchertable {
	width:700px;
	display:table;
}
.researcherrow {
	display:table-row;
}
.researchercell {
	display:table-cell;
	margin:0;
	padding:0;
	width:350px;
	vertical-align:middle;
}
.peoplelisting {
	margin-bottom:1em;
	clear:both;
	height:125px;
}
.peopletitle {
	font-weight:bold;
	font-size:12px;
	padding-top:1em;
}
.peoplelisting img {
	width:100px;
	border:1px solid gray;
	padding:2px;
	margin-right:12px;
	float:left;
}
#homecontentfooter {
	width:900px;
	height:35px;
	padding-top:12px;
	padding-left:12px;
	margin-top:8px;
	background-color:#fff;
	display:table;
	position:absolute;

}
.homecopyright {
	position:relative;
	display:block;
	width:auto;
	line-height:24px;
	font-size:7px;
	color:#808285;
	float:right;
	margin-right:190px;
}
.homesocialiconshome {
	float:right;
	margin:0;
	padding:0;
}
.homesocialiconshome img {
	margin-left:5px;
	margin-right:5px;
}
.homegoc {
	float:left;
}
.homesocial {
	float:right;
}
.homeCN {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 455px;
	margin:0;
	padding:0;
	margin-right:12px;
	min-height:250px;
	height:auto;
	float:right;
}
.homeCN .heading {
	margin-top:17px;
	font-weight:bold;
	font-size:18px;
	color: #d2232a;
	padding-bottom:2px;
	padding-top:2px;
	border-bottom: 2px solid #e6e6e6;
	width:310px;
	margin-bottom:10px;
}

.CNnewslistingdate {
	color:#d2232a;
	font-weight:bold;
	font-size:9pt;
	height:50px;
	width:70px;
	margin-left:6px;
	padding-top:0;
	display:block;
	position:absolute;
}

.CNnewslistingtitle, .CNnewslistingtitle a {
	color:#d22a23;
	font-weight:bold;
	font-size:9pt;
	margin-left:45px;	
	margin-top:12px;
	width:386px;
	text-decoration:none;
	display:block;
	position:relative;
}

.CNnewslistingtitle a:hover {
	text-decoration:underline;
}

.CNnewslistingsummary {
	color:#000;
	font-weight:normal;
	font-size:9pt;
	margin:0;
	padding:0;
	margin-left:90px;	
	width:386px;
}
.CNnewslistingmore {
	margin:0;
	padding:0;
	padding-right:0;
	height:12px;
	float:right;
	width:475px;
	text-align:right;
}
.CNnewslistingmore img {
	vertical-align:baseline;
	margin-top:3px;
	padding:2px;	
}

.CNnewslistinghr {
	margin:0;
	padding-top:0;
	margin-top:12px;
	padding-bottom:8px;
	border-bottom:2px solid #e6e6e6;
	clear:both;
}
.CNnewslisting img {
	float:right;
	background-color:#fff;
	border:none;
}

.homeFE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border-right: 1px solid #cccccc;
	width: 440px;
	margin:0;
	padding:0;
	margin-left:12px;
	margin-right:12px;
	min-height:250px;
	height:auto;
}
.homeFE .heading {
	margin-top:17px;
	font-weight:bold;
	font-size:18px;
	color: #13a89e;
	padding-bottom:2px;
	padding-top:2px;
	border-bottom: 2px solid #e6e6e6;
	width:180px;
	margin-bottom:10px;
}
.about {
    font-size:14px;
    margin-right:15px;
}
.funding {
    position:absolute;
    bottom:-200px;
    width:1000px;
}
.headinglink {
	border-left:1px solid #404040;
	color:#101010;
	font-size:11px;
	padding-left:6px;
	margin-left:2px;
}
.headinglink a {
	text-decoration:none;
	color:#101010;
	font-weight:normal;
}
.headinglink a:hover {
	color:blue;
}
.homeeventsdate {
	font-weight:bold;
	font-size:12px;
	padding-bottom:6px;
	padding-top:4px;
	margin-left:14px;
	color:#00a79d;
	width:56px;
	float:left;
}

.homeeventstitle {
	font-size:12px;
	padding-top:6px;
	color:#101010;
	width:195px;
	float:left;
	line-height:13px;
}
.homeeventstitle a {
	color:#101010;
	text-decoration:none;
}
.homeeventstitle a:hover {
	color:#00a79d;
	text-decoration:none;
}
.homeeventsdetails {
	font-size:10px;
	color:#101010;
	width:165px;
	padding-right:20px;
	padding-bottom:14px;
	padding-top:3px;
	margin-bottom:14px;
	clear:both;
	border-bottom: 1px #d1d2d4 solid;
}
.homeeventsmore {
	color:#00a79d;
	margin-right:-16px;
	float:right;
}
a.homeeventsmore {
	color:#00a79d;
}

.unilisting {
	float:left;
	margin-left:12px;
	width:300px;
}
.unilisting img {
	border:1px solid black;
	padding:2px;
	margin-right:12px;
	float:left;
	margin-bottom:12px;
}
.uniname {
	font-weight:bold;
	color:#000;
	padding-top: 8px;
}
.uniname a {
	color:#000;
}
.lmnarrowlm {
	color:#d2232a;
	font-weight:bold;
	font-size:14px;
	height:200px;
	width:126px;
	padding-top:8px;
	display:block;
	position:absolute;
	margin-top:12px;
}
.lmnarrowlm img {
	padding:2px;
	border:1px solid black;
}
.lmnarrowmain {
	margin-top:12px;
	margin-left:126px;
	display:block;
	position:relative;
	padding-left:20px;
	padding-right:30px;
	border-left: 2px solid #d1d2d4;	
	height:auto;
	min-height:240px;
}

.lmeventlm {
	color:#d2232a;
	font-weight:bold;
	font-size:14px;
	height:200px;
	width:80px;
	padding-top:8px;
	display:block;
	margin-top:12px;
	text-align:right;
	float:left
}
.lmeventlm img {
	padding:2px;
}
.lmeventmain {
	margin-top:12px;
	margin-left:90px;
	display:block;
	position:relative;
	padding-left:20px;
	padding-right:30px;
	border-left: 2px solid #d1d2d4;	
	height:auto;
	min-height:240px;
}


.lmeventsr {
	color:#d2232a;
	font-weight:bold;
	font-size:14px;
	width:90px;
	display:block;
	border-right: 2px solid #d1d2d4;
	margin-bottom:12px;
	float:left;
	min-height:90px;
}
.lmeventsr img {
	padding:2px;
	margin-bottom:2px;
}
.lmeventsrmain {
	margin-left:90px;
	display:block;
	position:relative;
	padding-left:10px;
	padding-right:30px;
	height:auto;
	min-height:80px;
}
.lmeventsrheading, .lmeventsrheading a {
	font-size:16px;
	font-weight:bold;
	color:#d2232a;
	margin-bottom:2px;
}
.lmeventsrsummary, .lmeventsrsummary a {
	font-size:12px;
	font-weight:bold;
	color:#000000;
	line-height:14px;
}


.lmeventsrhr {
	clear:both;
	padding-top:2px;
	padding-bottom:8px;
	margin-left:40px;
	margin-bottom:21px;	
	border-bottom:1px solid #d1d2d4;
	clear:both;
}
.lmeventsrh3 {
	font-weight:bold;
	font-size:14pt;
	padding-bottom:6px;
	padding-top:4px;
	color:#13a89e;
	margin-left:40px;
	margin-top:12px;
}
.lmeventsrh3 a {
	color:#000;
	font-size:11pt;
	font-weight:normal;
}
.lmeventsrh3 a:hover {
	text-decoration:none;
	color:#13a89e;
}
.eventdetails250 {
	width:242px;
	float:left;
	min-height:50px;
	margin-right:8px;
	margin-top:8px;
}
.searcheventsform {
	margin-left:0;
}
.smallcalendar {
	display: table;
	width:200px;
	border: 1px solid #13a89e;
}
.smallcalendartitle, .smallcalendartitle a:link, .smallcalendartitle a:visited, .smallcalendarheading  {
	background-color:#13a89e;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
}
.smallcalendarsymbol {
	padding-left:4px;
	padding-right:4px;
}
.smallcalendarheading {
	display: table-row;
	text-align:center;
}
.smallcalendardaynames {
	display:table-cell;
	width:27px;
}
.smallcalendarrow {
	display:table-row;
}
.smallcalendardays,.smallcalendardaysl,.smallcalendardaysr {
	display:table-cell;
	width:26px;
	text-align:center;
	background-color:#f2f2f2;
	color:#000;
	font-size:10px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	border:1px solid #fff;
	height:19px;
	padding-top:3px;
}
.smallcalendardaysl {
	border-right:none;
}
.smallcalendardaysr {
	border-right:none;
}

.socialicons {
	text-align:center;
	width:200px;
	margin-top:18px;
}
.socialicons img {
	margin-left:2px;
	margin-right:2px;
}
.language {
    display: block;
    height: 14px;
    position: absolute;
    right: 0;
    top: 34px;
    width: 75px;
}
